body {
	font-family: arial;
	margin: 0;
}	



.mobile-menu-icon {
	  display: none;
  }
  
  
.div-center {
	display: flex;
	justify-content: center;
	margin: 0 50px 0 50px;
}

.section-a {
	background-image: radial-gradient(circle, #fee5d2, #fff9f4);
	padding: 20px 80px 20px 80px;
}

.section-a hr {
	width: 100%;
}

.section-a a {
	color: #fa7d1e;
	text-decoration: none;
}

.section-a p {
	margin: 20px 0 20px 0;
	text-decoration: none;
	color: #787878;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	margin: 0 50px 0 50px;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-a-one {
	background-image: linear-gradient(to right, #fa7d1e, #fee5d2);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 50px 0 0 0;
}

.section-a-one h1{
	font-size: 4rem;
}



.nav-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-logo h1 {
	color: white;
	background-color: #fa7d1e;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	margin: 5px 0 5px 0;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}



#nav-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-bar ul {
	display: flex;
	list-style: none;
}

#nav-button a {
	border-radius: 50px;
	background-image: linear-gradient(to right, #fa7d1e, #fcaf74);
	border: none;
	color: white;
	padding: 5px 20px 5px 20px;
}

.nav-bar li {
	padding: 0 30px 0 0;	
}

.nav-bar a {
	text-decoration: none;
	color: #787878;
}

.nav-bar a:hover {
	color: #fa7d1e;
}

.stat-contents {
	margin: 50px 30px 50px 30px;
	flex-wrap: wrap;
	padding: 0 0 0 20px;
	text-align: center;
}

.stat-contents div {
	display: flex;
	justify-content: center;
}

.stat-contents img {
	height: 50px;
}

.start-button {
	margin: 50px 0 50px 0;
}

.start-button a {
	border-radius: 50px;
	background-image: linear-gradient(to right, #fa7d1e,#fcaf74);
	border: none;
	color: white;
	padding: 15px 60px 15px 60px;
}

.section-a video {
	width: 70vw;
	border-radius: 15px;
	border: solid 15px #fa7d1e;
}

.section-b {
	display: flex;
	justify-content: center;
	margin: 50px 200px 50px 200px;
}

.section-b h1 {
	text-align: center;
	font-size: 4rem;
}

.section-b h1 span {
	background-image: linear-gradient(to right, #fa7d1e,#fcaf74);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.section-b p {
	text-align: center;
	font-size: 1.2rem;
	color: #787878;
}


.engineers {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	color: #787878;
	margin: 0 0 30px 0;
	padding: 20px 80px 20px 80px;
}

.engineers h1 {
	text-align: center;
	font-size: 3.5rem;
	margin: 0;
	color: #000000;
}

.engineers h1 span {
	background-image: linear-gradient(to right, #fa7d1e, #fee5d2);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.experience {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px 80px 20px 80px;
}

.experience > div {
	width: 45vw;
}

.experience img {
	width: 40vw;
}


.experience p {
	font-size: 1.5rem;
	color: #787878;
}

.experience h1 {
	font-size: 2.5rem;
}

.experience a {
	border-radius: 50px;
	background-image: linear-gradient(to right, #fa7d1e, #fcaf74);
	border: none;
	color: white;
	padding: 10px 50px 10px 50px;
	font-size: 1rem;
	text-decoration: none;
}

.exp-span {
	background-image: linear-gradient(to right, #fa7d1e, #fee5d2);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent
}

.learn-section {
	background-image: radial-gradient(circle, #fee5d2, #fff9f4);
	padding: 50px 80px 50px 80px;
}

.vid-2 {
	display: flex;
	justify-content: center;
	margin: 30px 0  30px 0;
}

.vid-2 video {
	width: 70vw;
	border-radius: 15px;
	border: solid 15px #fa7d1e;
}
  
.learn {
	color: black;
	display: flex;
	justify-content: center;
	text-align: center;
}

.learn h1 {
	font-size: 3.5rem;
}

.learn p {
	font-size: 1.5rem;
	color: #787878;
}

.learn-grid {
	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	margin: 20px 0 20px 0;
}

.learn-grid p {
	font-size: 1.25rem;
	padding: 0 0 0 10px;
}

.learn-grid img {
	padding: 0 0 0 10px;
	height: 40px;
}

.learn-grid > div{
	display: flex;
}



.plans {
	display: flex;
	justify-content: space-evenly;

}

.plans-inner > div {
	width: 45vw;
}

.plans-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.plans img {
	width: 40vw;	
}


.plans p, li {
	font-size: 1.25rem;
	color: #787878;
}

.company-logo {
	height: 35px;
	padding: 30px;
}


.company-logos {
	display: flex;
	justify-content: center;
	margin: 0 0 50px 0;
	/*width: 90vw;*/
	flex-wrap: wrap;
	background-color: #fff9f4;
}


.footer {
	background-image: radial-gradient(circle, #fee5d2, #fff9f4);
	display: flex;
	justify-content: space-evenly;
}

.footer ul {
	list-style: none;
}

.footer a {
	text-decoration: none;
	color: #787878;
}

.footer li {
	padding: 0 0 15px 0;
}

.footer h4 {
	padding: 0 0 0 40px;
}

.footer p {
	font-size: 1rem;
}

.footer h1 {
	width: 40px;
	text-align: center;
	background-color: #fa7d1e;
	color: white;
	border-radius: 5px;
	
}

.footer-bottom {
	display: flex;
	justify-content: center;
}

.footer-bottom p {
	padding: 5px 30px 5px 30px;
	color: #787878;
}

.footer a:hover {
	color: #fa7d1e;
}











@media  (max-width: 650px) {
  .nav-bar {
    display: block;
	flex-direction: column;
	
  }
  
  .mobile-menu-icon {
	  display: flex;
	  justify-content: end;
	  background-color: transparent;
	  color: #fa7d1e;
	  border: none;
  }
  
  .mobile-menu-icon {
	  font-size: 40px;
  }
  
  .nav-links {
	  display: none;
  }
  
  .nav-links ul {
	position: absolute;
	display: block;
	background-color: #ffffff;
	line-height: 3rem;
}
  
  .nav-bar p {
	  display: none;
  }
 
  
  .nav-bar h1 {
	  font-size: 3rem;
  }
  
  .content {
	  text-align: center;
  }
  
  .stat {
	display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(2, 1fr);
	margin: 50px 0 50px 0;
  }
  
  .stat-contents {
	  margin: 0;
  }
  
  .stat-contents img{
	  height: 30px;
  }
  
  .section-a {
	  padding: 0;
  }
  
  .section-a video {
	  width: 90vw;
  }
  
  .section-b {
	  display: flex;
	  justify-content: center;
	  margin: 0;
	  padding: 0 20px 0 20px;
  }
  
  .section-b h1 {
	  font-size: 3rem;
  }
  
  .company-logos {
	display: flex;
	flex-wrap: wrap;
  }
  
  .engineers {
	margin: 20px;
  }
  
  .experience {
	display: block;
	justify-content: center;
	align-items: center;
	padding: 0 10px 0 10px;
	text-align: center;
	margin: 0 0 100px 0;
  }
  
  .experience > div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 90vw;
  }
  
  
  .experience img {
	width: 90vw;
  }
  
  .wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .mobile-center {
	  display: flex;
	  justify-content: center;
  }
  
  .vid-2 video {
	 width: 80vw;
  }
	
	
  .learn-grid {
	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	margin: 20px 0 20px 0;
  }
  
 
  
  .plans {
	display: flex;
	justify-content: center;
  }
  
  .plans-inner > div {
	width: 80vw;
  }
  
  .plans-inner {
	display: inline-block;
	padding: 50px 0 50px 0;
  }
  
  .plans img {
	width: 80vw;
  }
  
  .footer {
	
	padding: 0 5px 0 5px;
  }
  
  .footer h1 {
	font-size: 3rem;
	text-align: center;
	width: 5rem;
	margin: 10px 0 0 0;
  }
   
}



@media (max-width: 900px){
	.experience {
	display: block;
	justify-content: center;
	align-items: center;
	padding: 0 10px 0 10px;
	text-align: center;
	margin: 0 0 100px 0;
  }
  
  .experience > div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 90vw;
  }
  
  
  .experience img {
	width: 90vw;
  }
  
   .wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
   
  .mobile-center {
	  display: flex;
	  justify-content: center;
  }
  
}




